* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.logo_txt {
  text-decoration: none !important;
  display: flex;
  align-items: flex-end;
  display: block;
  width: max-content;
  margin: auto;
}

.logo_txt h1 {
  font-size: 40px !important;
  letter-spacing: 0.4px !important;
  color: #1b1b1b !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.aspectImgs {

  display: block;
  width: 100%;
  position: relative;
}

.aspectImgs .aspectImages {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ModelaspectImgs {
  padding-top: 100%;
  display: block;
  width: 100%;
  position: relative;

}


.ModelaspectImgs img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.cursor_pointer {
  cursor: pointer;
}

.profilePics {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  position: absolute;
  right: 20px;
  top: 20px;
  overflow: hidden;
  border: 1px solid #eeeeeeaa;
}

.profilePics img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.landing_sec {
  padding-top: 40px;
}

.container {
  padding: 0px 20px;
  width: 100%;
  display: block;
  margin: auto;
}

.camera {
  display: inline-block;
  font-size: 40px !important;
  vertical-align: middle;
  margin-left: 10px;
}

.custom_card {
  /* padding: 15px; */
  background-color: #fff !important;
  box-shadow: 0px 22px 35px #3e3e3e17 !important;
  border: 1px solid #eee !important;
}

.searchForm {
  margin: 40px auto 20px;
  width: 90%;
  position: sticky;
  z-index: 99;
  display: block;
  top: 50px;
  background: #ffffff9c;
  border-radius: 8px;
  backdrop-filter: blur(10px);
  border: 1px solid #ccc !important;
}

.searchForm:focus-within {
  outline: none !important;
  border: none;
}

.custom_modal {
  width: 90% !important;
  max-width: 90% !important;
  margin: auto;
}

.like_btn {
  position: absolute !important;
  top: 20px !important;
  left: 20px !important;
  color: #fff !important;
}

.form_Input input {
  font-size: 15px;
  color: #1b1b1b;
  letter-spacing: 0.40px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.form_Input fieldset {
  display: none;
}

.searchForm {
  border: 1px solid #ccc;
  border-radius: 25px;
  padding: 0px 10px;
}

.form_Input input::placeholder {
  color: #1b1b1bd7;
  font-weight: 500 !important;
}

.form_Input input:focus-within {
  outline: none;
  border: none;
  box-shadow: none;
}

.container {
  padding: 0px 10px;
  max-width: 1920px;
  margin: auto;
}

.gridContainer {
  max-width: 1450px;
  width: 100%;
  margin: 40px auto;
}

.img_downLoadBtn {
  text-decoration: none;
  background-color: #ffffff30;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 20px;
  right: 20px;
  border-radius: 8px;
  backdrop-filter: blur(7px);
}

.img_downLoadBtn svg {
  color: #e3e3e3;
}

.img_downLoadBtn:hover {
  background-color: #ffffff86;
}

.slider_btns {
  position: absolute !important;
  top: 45% !important;
  transform: translateY(-45%) !important;
  z-Index: 10 !important;
  background-color: #ffffff29 !important;
  backdrop-filter: blur(5px) !important;
  display: flex !important;
  align-items: center !important;
  width: 50px;
  height: 50px;
  justify-content: center !important;
}

.slider_btns svg:hover {
  color: #fff !important;
}

.slider_btns svg {
  color: #ffffffbd !important;
}


.slider_btns.left svg {
  transform: translateX(4px);
}

.slider_btns.right {
  right: -70px;
}

.slider_btns.left {
  left: -70px;
}


.toTopBtn {
  border: 1px solid #3a393b87 !important;
  border-radius: 50px !important;
  background-color: transparent !important;
  color: #1b1b1b !important;
  position: fixed !important;
  width: 60px;
  height: 60px;
  right: 60px !important;
  bottom: 100px !important;
  transition: 0.5s ease-in-out !important;
  overflow: hidden !important;
}

.toTopBtn:hover {
  transform: scale(1.1);
}

.toTopBtn:hover svg {
  transition: 0.7s arrowInfinite linear infinite !important;
  animation: 0.7s arrowInfinite linear infinite !important;
}

.likeLink {
  position: relative;
}

.likeLink .flotNumber {
  border-radius: 100%;
  width: 20px;
  height: 20px;
  right: -13px;
  top: -8px;
  background-color: #f5167f;
  color: #fff;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border: 1px solid #FFF;
  font-size: 12px;
}

@keyframes arrowInfinite {
  0% {
    transform: translateY(100px);
  }

  50% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-100px);
  }
}


/* All media quaries here below */
@media(max-width:992px) {
  .gridContainer {
    margin: 20px auto;
  }

  .searchForm {
    margin: 20px;
    top: 20px;
    border-radius: 100px;
  }

  .custom_modal {
    width: 100% !important;
    max-width: 100% !important;
    margin: 0px !important;
  }

  .slider_btns.right {
    right: 0px;
  }

  .slider_btns.left {
    left: 0px;
  }

  .slider_btns {
    width: 20px;
    height: 20px;
    background: transparent !important;
  }

  .img_downLoadBtn {
    padding: 0px;
    bottom: 20px;
    right: 20px;
    border-radius: 4px;
    backdrop-filter: blur(5px);
  }

  .toTopBtn {
    border: 1px solid #3a393b52 !important;
    width: 28px;
    height: 45px;
    right: 11px !important;
    bottom: 64px !important;
    display: none !important;
  }

  .toTopBtn svg {
    color: #6b6b6b;
    font-size: 20px;
  }

  .searchForm {
    padding: 0px;
  }

  .form_Input input {
    font-size: 14px;
    padding: 14px;
  }

  .slider_btns.left svg {
    transform: translateX(6px);
  }
}

/* All media quaries ends here */